<h1>Edit your account information</h1>

<%= form_for(resource,  as: resource_name, 
                        url: registration_path(resource_name), 
                        html:{ method: :put, role: "form", multipart: true }) do |f| %>

  <%= error_messages_for @user %>
  <div class="form-group">
    <%= f.label :name %>     
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.fields_for :profile do |pf| %>
    
    <div class="form-group">
      <%= pf.label :birthday %>     
      <%= pf.date_field :birthday, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.label :phone %>     
      <%= pf.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.label :address %>     
      <%= pf.text_area :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.label :about %>     
      <%= pf.text_area :about, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.label :restrictions %>     
      <%= pf.text_area :restrictions, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= pf.label :avatar %>     
      <%= pf.file_field :avatar, class: "input-group" %>
    </div>
        
  <% end %>

  <div class="form-group">
    <%= f.label :email %>     
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'New Password' %> <i><small>(leave blank if you don't wish to change it)</small></i>
    <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'New password confirmation' %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :current_password %> <i><small>(in case of your changing email or password)</small></i>
      <%= f.password_field :current_password, class: "form-control" %>
  </div>

  <%= f.submit "Update", class: "btn btn-success" %> &nbsp; <%= link_to "Cancel", root_path, class: "btn btn-primary" %> 

<% end %>