<%= form_for(resource, as: resource_name, 
                           url: registration_path(resource_name), 
                           html: { :role => "form" }) do |f| %>
    
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'First Last' %></div>

  <div class="form-group"><%= f.label :username %><i><small>  (Permanent)</small></i>
  <%= f.text_field :username, class: 'form-control', placeholder: 'Pick a username' %></div>

  <div class="form-group"><%= f.label :email %>
  <%= f.text_field :email, class: 'form-control', placeholder: 'Enter your email' %></div>

  <div class="form-group"><%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Pick a password' %></div>

  <div class="form-group"><%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password' %></div>

  <%= f.submit "Sign up", class: "btn btn-success" %>

<% end %>