<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 left-box">
        <div class="container">
          <%= render 'devise/registrations/edit_account_form' %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-sm-6 ">
    <h1>Edit your profile</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :method => :put, role: "form" }) do |f| %>
  
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">      
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
        <div class="col-sm-6">     
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        </div>
      </div>
      <% end %>

      <div class="form-group">
            <%= f.label :password %> <i><small>(leave blank if you don't want to change it)</small></i>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label :password_confirmation %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label :current_password %> <i><small>(we need your current password to confirm your changes)</small></i>
        <div class="row">
          <div class="col-sm-6">
            <%= f.password_field :current_password, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= f.submit "Update", class: "btn btn-primary" %> - <%= link_to "Cancel", root_path %>
        </div>
      </div>    
 
      <% end %>
    </div>
  </div> -->