<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 left-box">
        <div class="container">
            <%= render 'devise/registrations/sign_up_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-6">
    <h1>Sign up</h1>

    <%= form_for(resource, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { :role => "form" }) do |f| %>
    
      <%= devise_error_messages! %>
    
      <div class="form-group">
        <%= f.label :username %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :username, :autofocus => true, class: "form-control" %>  
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-6">      
            <%= f.email_field :email, class: "form-control" %>  
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      </div>    
      <% end %>
      

      <%= render "devise/shared/links" %>

    </div>
  </div> -->