<%= error_messages_for @menu_item %>
<%= form_for(@menu_item) do |f| %>

  <div class="form-group">
    <%= f.label :title %>     
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :menu_image, 'Picture' %>     
    <%= f.file_field :menu_image, class: "input-group" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>     
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient_list, 'Main ingredients' %> <i><small>(the meats, the veggies... etc. at least 2, comma separated)</small></i> 
    <%= f.text_area :ingredient_list, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, 'The following quantity will be available' %>     
    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :allergen_list, 'Allergy notice' %> <i><small>(be responsible and notify people with common allergies)</small></i>
    <ul class="list-inline group-checkbox">
      <% MenuItem::ALLERGENS.each do |allergen| %>
        <li>
          <div class="checkbox">
            <%= f.check_box :allergen_list, { multiple: true }, allergen, nil %><label for="menu_item_allergen_list_<%= "#{allergen.downcase.tr(" ", "_")}" %>"><%= "#{allergen}" %></label>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

 <div class="form-group">
    <%= f.label :payback_list, 'How do you expect to be appreciated?' %> <i><small>(choose at least two accepted forms of gratitude)</small></i>
    <ul class="list-inline group-checkbox">
      <% MenuItem::PAYBACK_METHODS.each do |payback_method| %>
        <li>
          <div class="checkbox">                       
            <%= f.check_box :payback_list, { multiple: true }, payback_method, nil %><label for="menu_item_payback_list_<%= "#{payback_method.downcase.tr(" ", "_")}" %>"><%= "#{payback_method}" %></label> 
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= f.label :same_day, 'Feels like a super chef?' %>
    <div class="checkbox">
      <%= f.check_box :same_day %> <%= f.label :same_day, "This item can be offered on the same day." %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :expiry_time %>     
    <%= f.datetime_select :expiry_time, class: "form-control" %>
  </div>

  <%= f.submit "submit", class: "btn btn-success" %> &nbsp; <%= link_to "Cancel", root_path, class: "btn btn-primary" %> 
<% end %>