<!-- Including a DIV (block element) inside of an ANCHOR (inline element) is not considered best practice; Research ways to use JavaScript to convert entire DIV into a clickable link with remote: :true -->

<div class="item">
<%= link_to menu_item_path(menu_item.id), remote: true, class: 'box', data: { toggle: 'modal', target: '#menuItemModal' } do %>

<div>
  <%= image_tag(menu_item.menu_image.url(:medium)) %>

  <h4><%= menu_item.title %></h4>

  <p><%= menu_item.description %></p>

  <% if menu_item.user == current_user %>
    <p>
      <%= link_to raw('<i class="fa fa-pencil-square-o"></i>&nbsp; Edit'), edit_menu_item_path(menu_item),
                                                                            class: 'btn btn-xs btn-success' %>
      <%= link_to raw('<i class="fa fa-trash-o"></i>&nbsp; Delete'), menu_item, method: :delete,
                                            data: { confirm: 'You sure?' }, class: 'btn btn-xs btn-danger' %>
    </p>
  <% end %>
</div>

<% end %>

  <p class="<%= 'hidden' if menu_item.user == current_user %>">
    by <%= link_to menu_item.user.name, user_path(menu_item.user), class: 'to-user' %>
  </p>

</div>