<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="menuItemModalLabel">
        <%= best_in_place_if owner?(@menu_item), @menu_item, :title %>
      </h4>
    </div>
    <div class="modal-body">
      <p><%= best_in_place_if owner?(@menu_item), @menu_item, :description, type: :textarea %></p> 
      <p><%= best_in_place_if owner?(@menu_item), @menu_item, :ingredient_list %></p>
      <p><%= @menu_item.allergen_list.each { |allergen| allergen + ', ' } %></p> 
      <p><%= @menu_item.payback_list.each { |allergen| allergen + ', ' } %></p> 
      <p>Same day? <b><i><%= best_in_place_if owner?(@menu_item), @menu_item, :same_day, type: :checkbox %></i></b></p>
      <p><%= best_in_place_if owner?(@menu_item), @menu_item, :expiry_time, type: :date %></p> 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>