<% provide(:title, "Edit Menu Item") %>

<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 left-box">
        <div class="container">
          <h1>Edit Menu item</h1>
          <%= render 'menu_item_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
