<% provide(:title, "Menu") %>
<div class="row">
  <div class="col-xs-12">
    <div class="masonry-parent">
    <h1>Today's Menu</h1>
    <div id="masonry-container" class="masonry clearfix">
    <%= render @menu_items %>
    </div>
  </div>
</div>

<div class="modal" id="menuItemModal" tabindex="-1" role="dialog" aria-labelledby="menuItemModalLabel" aria-hidden="true"></div>
<div class="hidden"><%= paginate @menu_items -%></div>
