<%= image_tag @menu_item.menu_image.url(:medium) %>
<h1>
  <%= @menu_item.title %>
  <% if @menu_item.user == current_user %>
  | <small>
  <%= link_to 'Edit', edit_menu_item_path %>
  </small>
  <% end %>
</h1>