<div id="item-slider" class="owl-carousel">
  <% @user_menu_items.each do |item| %>
    <div class="menu-item">
      <div class="crop">
        <%= link_to image_tag(item.menu_image.url(:medium)), menu_item_path(item.id) #,
                              # controller: :menu_items, data: { toggle: 'tooltip',
                              # placement: 'top'},
                              # title: item.title
                              %> 
      </div>            
    </div>
  <% end %>
</div>