<% provide(:title, 'People') %>

<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 left-box">
        <div class="container">
          <h1>Users#index</h1>
          <p>Find me in app/views/users/index.html.erb</p>
        </div>
      </div>
    </div>
  </div>
</div>