<% provide(:title, @user.name) %>

<div id="top" class="banner clearfix">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= render 'layouts/messages' %>
  </div>
  <div class="col-xs-12">
    <div class="container">
      <div class="profile-image" >
        <%= image_tag @user.profile.avatar.url(:medium)  %>
      </div>
      <div class="vert-text ">      
        <h1><%= @user.name %></h1>
        <h3>Cook</h3>
        <p class="lead"><%= @user.profile.about %></p>
        <a href="#services" class="btn btn-primary">Dishes</a>
      </div>
    </div>
  </div>
</div> 

<div class="slider-parent">
  <div class="col-xs-12">
  <div class="container">    
    <%= render 'user_menu_items_slider' %>
  </div>
  </div>
</div>

<div id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Our Services</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-rocket"></i>
          <h4>Spacecraft Repair</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-magnet"></i>
          <h4>Problem Solving</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-shield"></i>
          <h4>Blacksmithing</h4>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="service-item">
          <i class="service-icon fa fa-pencil"></i>
          <h4>Pencil Sharpening</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Subtle Sidebar is the Perfect Template for your Next Portfolio Website Project!</h2>
        <p class="lead">This template really has it all. It's up to you to customize it to your liking! It features some fresh photography courtesy of.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 left-box">
        <div class="container">
          <h1><%= @user.name %></h1>
          <p>Find me in app/views/users/show.html.erb</p>
        </div>
      </div>
    </div>
  </div>
</div> -->