<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 left-box">
        <div class="container">    
          <h1>Forgot your password?</h1>

          <%= form_for(resource, :as => resource_name, 
          :url => password_path(resource_name), 
          :html => { :method => :post, :role => "form" }) do |f| %>
         
            <%= devise_error_messages! %>


            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, :autofocus => true, class: "form-control" %>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
              </div>
            </div>
            <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>