<% if object && object.errors.size > 0 %>
  <div class="panel panel-danger error-text">
    <div class="panel-heading">
      <strong><%= pluralize(object.errors.size, "error") %> prohibited this record from being saved</strong>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>