<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left-box">
        <div class="container" id="home-signup">
          <h3>New to Bitebuddy?</h3>
          <p><span>Sign up now</span></p>    
           <%= render 'devise/registrations/sign_up_form' %>
        </div>
      </div>
        <!-- / Left hand box -->
      
        <!-- Right hand box -->
      <div class="hidden-xs hidden-sm col-md-8 col-lg-8  right-box">
        <div class="container">
          
        </div>
      </div>
        <!-- / Right hand box -->
    </div>
  </div>
</div>