<!-- <% #provide(:title, "Inside") %>
<div class="row">
<div class="col-xs-12">
  <div class="masonry-parent">
    <h1>Menu</h1>
    <div id="masonry-container" class="clearfix masonry js-masonry" data-masonry-options='{ "isFitWidth": true, "gutter": 10 }'>
      <% #@menu.each do |menu_item| %>
        <div class="item">
          <%= #link_to image_tag(menu_item.menu_image.url), menu_item_path(menu_item.id) %>
          <h4><%= #link_to menu_item.title, menu_item_path(menu_item.id) %></h4>
          <p><%= #menu_item.description %></p>
          <p><span>by <%= #link_to menu_item.user.name, user_path(menu_item.user) %></span></p>
            <% if #menu_item.user == current_user %>
              <p>
                <span>
                  <%= #link_to 'Edit', edit_menu_item_path(menu_item) %>
                  |
                  <%= #link_to 'Delete', menu_item, method: :delete,
                                                   #data: { confirm: 'You sure?' } %>
                </span>
              </p>
            <% end %>
        </div>
      <% end %> 
    </div>
  </div>
</div> -->