<% provide(:title, 'Terms') %>

<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 left-box">
        <div class="container">
          <h1>Terms of Service</h1>

          <p>BiteBuddy for the food enthusiasts. Cook, snap, share and start taking orders for your super home-cooked meals. If you love eating, this is your window to a world of flavors. View, choose, order and tip the wonderful cook that made it happen.</p> 

          <p>BiteBuddy, pop restaurants everywhere!</p>
        </div>
      </div>
    </div>
  </div>
</div>