<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 left-box">
        <div class="container">
          <h1>Sign in</h1>

          <%= form_for(resource, :as => resource_name, 
          :url => session_path(resource_name),
          role: "form") do |f| %>
        
            <div class="form-group">
              <%= f.label :login %>
              <%= f.text_field :login, :autofocus => true, class: "form-control" %>  
            </div>
            
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control" %>
            </div>        

            <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </div>
            <% end -%>

            <div class="row">
              <div class="col-sm-6">
                <%= f.submit "Sign in", class: "btn btn-primary" %>
              </div>
            </div>
            <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>