<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left-box">
        <div class="container">
          <h1>Admin <small>Home</small></h1>
          <div class="row">
            <div class="col-sm-4">
              <h3>Menu</h3>
              <h4><%= link_to "Users", admin_users_path %> <small>- <%= "#{@count} users" %></small></h4>
              <hr/>
            </div>
            
            <div class="col-sm-4">
              <h3>Last Sign Ups</h3>
              <ul class="list-unstyled">
                <% @last_signups.each do |user| %>
                <li class="list-padded-bottom">
                  <%= link_to user.username, edit_admin_user_path(user) %><br/>
                  <small><%= time_ago_in_words(user.created_at)%> ago</small>
                </li>
                <% end %>
              </ul>
            </div>
            
            <div class="col-sm-4">
              <h3>Last Sign Ins</h3>
              <ul class="list-unstyled">
                <% @last_signins.each do |user| %>
                <li class="list-padded-bottom">
                  <%= link_to user.username, edit_admin_user_path(user) %><br/>
                  <small>
                    <% unless user.last_sign_in_at.nil? %>
                    <%= time_ago_in_words(user.last_sign_in_at)%> ago
                    <% else %>
                    never
                    <% end %>
                  </small>
                </li>
                <% end %>
              </ul>
            </div>  
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>