<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 left-box">
        <div class="container">
          <h1>
            Edit User <small><%= "#{@user.username} - id: #{@user.id}" %></small>
          </h1>
          <p><%= link_to "Back to Users", admin_users_path %></p>

          <%= form_for [:admin, @user], :html => { :role => "form" } do |f| %>
          
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, :autofocus => true, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>  
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          
          <% unless current_user.id == @user.id %>

            <div class="checkbox">
              <%= f.check_box :locked %> <%= f.label :locked, "Is Locked?" %>
            </div>
          
            <div class="checkbox">
              <%= f.check_box :admin %> <%= f.label :admin, "Is Admin?" %>
            </div>

          <% end %>

          <%= f.submit "Update User", class: "btn btn-success" %>
              
          <% end %>
        </div>
      </div>

      <div class="col-sm-12 col-md-7 left-box">
        <div class="container">

          <h1>Profile Details</h1>
          <ul>
            <li><%= "#{@user.profile.birthday}" %></li>
            <li><%= "#{@user.profile.phone}" %></li>
            <li><%= "#{@user.profile.address}" %></li>
            <li><%= "#{@user.profile.about}" %></li>
            <li><%= "#{@user.profile.restrictions}" %></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>