<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 left-box">
        <div class="container">
          <h1>Users <small>Admin</small></h1>
          <p><%= link_to "Back to Admin", admin_root_path %></p>

          <div class="text-center">
            <p><%= page_entries_info @users %></p>
            <%= paginate @users %>
          </div>

          <%= form_tag admin_users_path, method: 'get', html: {class: 'form-inline', role: "form"} do %>
            <p>
              <div class="form-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Search users' %>
                <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
                <%= link_to "All", admin_users_path, {class: "btn btn-sm btn-link"} %>
              </div>
            </p>
          <% end %>

          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Admin</th>
                <th>Locked</th>
                <th>Email</th>
                <th>Sign In Count</th>
                <th>Created At</th>
                <th>Last Sign In</th>
                <th>Last Sign In IP</th>
              </tr>
              
              <% @users.each do |user| %>
              
              <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.username.capitalize, admin_user_path(user) %></td>
                <td><%= user.admin? ? "<b>yes</b>".html_safe : "no" %></td>
                <td><%= user.locked? ? "<b>yes</b>".html_safe : "no" %></td>
                <td><%= user.email %></td>
                <td><%= user.sign_in_count %></td>
                <td><%= time_ago_in_words(user.created_at) %></td>
                <% unless user.last_sign_in_at.nil? %>
                <td><%= time_ago_in_words(user.last_sign_in_at)%> ago</td>
                <% else %>
                <td>never</td>
                <% end %>
                <td><%= user.last_sign_in_ip %></td>
              </tr>
              
              <% end %>
              
            </table>
          </div>

          <div class="text-center">
            <p><%= page_entries_info @users %></p>
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  