<% unless user_signed_in? %>  
  <div id="footer">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "About Us",   about_path    %></li>
        <li><%= link_to "Terms",      terms_path    %></li>
        <li><%= link_to "Contact Us", contact_path  %></li>
        <li><%= link_to "Blog",       '#'           %></li>
        <!-- <li>&copy; 2014 BiteBuddy</li>  -->
      </ul>
    </div>
  </div>
<% end %>  