<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("bitebuddy.png", alt: "Bite Buddy", class: "navbar-brand"), root_path, "data-no-turbolink" => true) %>
    </div>
    <div class="collapse navbar-collapse navbar-right">      
        <%= render 'layouts/navigation_links' %>      
    </div>
  </div>
</nav>
