<% if !user_signed_in? %>

  <%= form_for(resource, as: resource_name, 
                         url: session_path(resource_name), 
                         html: {class: 'form-inline'},
                         role: "form") do |f| %>

    <div class="form-group">
      <%= f.text_field :login, class: "form-control", placeholder: 'Username or email' %>  
    </div>
    
    <div class="form-group">      
      <%= f.password_field :password, class: "form-control", placeholder: 'Enter your password' %>
    </div>      

      <div class="form-group">
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div><br/>      
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        &nbsp;
      </div>

    <%= f.submit "Sign in", class: "btn btn-success" %>

  <% end %>

<% else %>
  <ul class="nav navbar-nav">
    <li><%= link_to current_user.name, current_user %></li>
    <li><%= link_to "Menu", root_path %></li>
    <li><%= link_to "Add a Menu Item", new_menu_item_path %></li>
    <li><%= link_to "People", users_path %></li>
    <li><%= link_to "Edit Account", edit_user_registration_path %></li>
        

    <% if current_user.admin? %>
      <li><%= link_to "Admin Home", admin_root_path %></li>
    <% end %>

    <li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
  </ul>
<% end %>