<!DOCTYPE html>
<html>
<%= render 'layouts/html_head' %>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

    <div class="col-sm-6 col-sm-offset-3 text-center">
      <%= render 'layouts/messages' %>
    </div>

  <%= yield %>


  <%= render 'layouts/footer' %>


</body>
</html>
